.img{
    position: relative;
    background-image: url(chicken.png);                                                               
    height: 100vh;
    background-size: cover;
}

svg {
    width:100%;
    height:100%;
}

rect {
    width:180px;
    height:200px;
    stroke-width:4px;
    stroke:black;
    fill:orange;
}


button {
    cursor:pointer;
    margin:10px;
    background-color: aqua;
    border-radius: 3px;
    border: 3px solid blue;
}