.img{
    position: relative;
    background-image: url(chicken.png);                                                               
    height: 100vh;
    background-size: cover;
}

/*.img-cover{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.7);                                                                 
   z-index:1;
}

.img .content{
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);                                                                   
     font-size:5rem;
     color: white;
     z-index: 2;
     text-align: center;
}*/

svg {
    width:100%;
    height:100%;
}

rect {
    width:180px;
    height:200px;
    stroke-width:4px;
    stroke:black;
    fill:orange;
}


.btn{cursor:pointer}