<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="stylesheets/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="./js/view.js"></script>
    <title>Yummy korea</title>
  </head>
  <body>
    <header>
      <a href="http://localhost:3000/">Yummy korea</a>
    </header>

    <main>
      <div class="main_image"><span>Select a language</span></div>
      <section class="language">
        <form action="image">
          <ul class="language_form">
            <li>
              <h2>Select a language</h2>
            </li>
            <li>
              <select name = "lan" size = "1" >
                <% var lanval = ["ko", "en", "zh", "ja"] %>
                <% var lan = ["한국어", "English", "中國語", "日本語"] %>
                <% for (var i = 0; i <lanval.length; i++) { %>
                <option value=<%= lanval[i] %> name=<%= lanval[i]%>><%= lan[i]%></option>
              <% } %>
            </select>
            </li>
            <li>
              <button type="submit">submit</button>
            </li>
          </ul>
        </form>
      </section>
    </main>

    <footer>
      </div>
      <div class="top">
        <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
      </div>
    </footer>
  </body>
</html>
