<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/main_style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="./js/view.js"></script>
    <title>Yummy korea</title>
  </head>
  <body>
    <header>
      <a href="http://localhost:3000/">Yummy korea</a>
    </header>
    <main>
      <div class="main_image">
        <div class="main_message">
          <li>Hello:)</li>
          <li>Welcome to Yummy korea</li>
          <li>Do you want menu translation?</li>
          <li><button onclick="location.href='index'">Click!</button></li>
        </div>
      </div>
      <div class="phone_message">
        <li>Hello:)</li>
        <li>Welcome to Yummy korea</li>
        <li>Do you want menu translation?</li>
        <li><button onclick="location.href='index'">Click!</button></li>
      </div>
    </main>

    <footer>
    </div>
    <div class="top">
      <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>
  </footer>

  </body>
</html>
