@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BRBA_B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRBA_B.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background: black;
}

* {
  box-sizing: border-box;
}

body,
h1,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

/*header*/

header {
  background-color: yellowgreen;
  padding: 1.8% 0;
  font-size: 2em;
  text-align: center;
  font-family: "yg-jalnan";
  color: white;
  letter-spacing: 2px;
}

/*main*/

.main_image {
  height: 90vh;
  background-image: url("images/jakub-kapusnak-4f4YZfDMLeU-unsplash.jpg");
  background-size: cover;
  background-position: 0% 55%;
  font-family: "BRBA_B";
  opacity: 0.9;
}

.main_message {
  color: white;
  font-size: 2.5em;
  position: absolute;
  bottom: 100px;
  left: 50px;
}

.main_message button {
  width: 10vw;
  margin-top: 10px;
  padding: 8px;
  background-color: white;
  border: yellowgreen solid 2px;
  border-radius: 4px;
  font-family: "BRBA_B";
  font-size: 20px;
  letter-spacing: 2px;
}

.main_message button:hover {
  background-color: yellowgreen;
  color: white;
}

.phone_message {
  display: none;
}

/* footer */

.top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 2em;
  color: white;
}

.top a {
  display: inline-block;
  color: white;
  opacity: 1;

  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.top a:hover {
  color: red;
}

/*반응형*/
@media screen and (max-width: 768px) {
  /*태블릿*/

  header {
    font-size: 1.5em;
  }

  .main_image {
    height: 95vh;
    background-size: cover;
    background-position: center;
  }

  .main_message {
    font-size: 2em;
    position: absolute;
    bottom: 50px;
    left: 50px;
  }

  .main_message button {
    width: 20vw;
  }
}

@media screen and (max-width: 500px) {
  /*핸드폰*/

  header {
    font-size: 1.5em;
  }

  .main_image {
    height: 58vh;
  }

  .main_message {
    display: none;
  }

  .phone_message {
    display: block;
    margin: 40px 3px;
    text-align: center;
    color: black;
    font-size: 1.5em;
    line-height: 2em;
    position: static;
    font-family: "BRBA_B";
  }

  .phone_message button {
    width: 30vw;
    margin-top: 15px;
    padding: 8px;
    background-color: white;
    border: yellowgreen solid 2px;
    border-radius: 4px;
    font-family: "BRBA_B";
    font-size: 15px;
    letter-spacing: 2px;
  }

  .phone_message button:hover {
    background-color: yellowgreen;
    color: white;
  }

  .top {
    color: black;
  }

  .top a {
    color: black;
  }
}
